.navigation{
  background-color: black;
  color: white;
  //width: 1300px;
  height: 50px;
  padding: 10px 30px;
  text-transform: uppercase;
  ul{
   
    
    list-style: none;
    li{padding: 0% 20px;
      font-size: 20px;
    
       display: inline;
     
    }
  }
 .link{text-decoration: none;
  color: white;

 }
}
